nput[type="radio"]:checked+label {
  background-color: cornflowerblue;
}

label {
    display: block;
    padding: 5px;
}

.meme-div{
width: 450px;
text-align: center;
position: relative;
}

.meme-div h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black;
}
