<!DOCTYPE html>
<html>

<head>
  <title>Confirmed</title>
</head>
<body>

  <section>
    <center>
  <img src='https://image.ibb.co/mmFDfe/Screen_Shot_2018_08_01_at_3_42_41_PM.png'>
    </center>
  </section>

<center>
  <form method='get' action='/list-food'>
    <input type='submit' value='See List' />
  </form>
</center>

<center>
  <form method='post' action='/add-food'>
    <input type='submit' value='Add More Food' />
  </form>
</center>

  <br />

<center>
  <form method='get' action='/homepage'>
    <input type='submit' value='home!' />
  </form>
</center>

<center>
  <form method='post' action='/add-food'>
    <input type='submit' value='Go back' />
  </form>
</center>



</body>
</html>
