<!DOCTYPE html>
<html>

<head>
  <title>Confirmed</title>
</head>

<section>
  <center>
<img src='https://image.ibb.co/mmFDfe/Screen_Shot_2018_08_01_at_3_42_41_PM.png'>
  </center>
</section>

<body>

  <form method='post' action='/add-food'>
    <center>
      <input type="image"  id="saveform" src="https://image.ibb.co/dDGYDz/Screen_Shot_2018_08_01_at_3_53_20_PM.png" value="See List" />
    </center>
  </form>

  <form method='get' action='/list-food'>
    <input type='submit' value='See List' />
  </form>
  <form method='post' action='/add-food'>
    <input type='submit' value='Add Food' />
  </form>



</body>
</html>
