<!DOCTYPE html>
<html>
<head>


<title>FreshFridge</title>
<link rel=”stylesheet” href='home.css'>
<style>
body {
    background-color: #e6e9ff;
}
#main {
  margin: auto;
  width: 1000px;
  background-color: white;
  padding: 10px;
}
</style>
</head>
<body>
  <div id="main">
  <section>
    <center>
  <img src='https://image.ibb.co/by0tdz/Screen_Shot_2018_07_31_at_5_32_53_PM.png'>
    </center>
  </section>


<form method='post' action='/add-food'>
  <center>
    <input type="image"  id="saveform" src="https://image.ibb.co/mCSZke/Screen_Shot_2018_07_31_at_5_59_11_PM.png" alt="Submit Form" />
  </center>
</form>

<form method='get' action='/list-food'>
  <center>
  <input type="image"  id="saveform" src="https://image.ibb.co/j8Kx5e/Screen_Shot_2018_07_31_at_6_04_09_PM.png" alt="Submit Form" />
  </center>
</form>

<br>
<br>

<form method='post' action='/list-food'>
  <center>
  <input type="image"  id="saveform" src="https://image.ibb.co/kiZVAe/Screen_Shot_2018_08_01_at_9_58_22_AM.png" alt="Submit Form" />
  </center>
</form>

<br>
<br>

<form method='get' action='/login-page'>
  <center>
  <input type="image"  id="saveform" src="https://image.ibb.co/nJTFtz/Screen_Shot_2018_08_01_at_8_59_47_AM.png" alt="Submit Form" />
  </center>
</form>

<form method='get' action='/login-page'>
  <center>
  <input type="image"  id="saveform" src="https://image.ibb.co/h3anqe/Screen_Shot_2018_08_01_at_9_53_46_AM.png" alt="Submit Form" />
  </center>
</form>

<a href="{{logout_link}}">Log Out</a>

</body>
</html>
