<!DOCTYPE html>
<html>
<head>

  <section>
    <center>
  <img src='https://image.ibb.co/by0tdz/Screen_Shot_2018_07_31_at_5_32_53_PM.png'>
    </center>
  </section>

<title>FreshFridge</title>
<link rel=”stylesheet” href='home.css'>
</head>
<body>

<h1 class='title'>if u want text put it here</h1>

<form method='post' action='/add-food'>
  <input type='submit' value='Add Food Item'>
</form>

<form method='get' action='/list-food'>
  <input type='submit' value='List Food Items'>
</form>

<form method='get' action='{{logout_link}}'>
  <input type='submit' value='Logout' />
</form>

</body>
</html>
