<!DOCTYPE html>
<html>
<head>


<title>FreshFridge</title>
<link rel=”stylesheet” href='home.css'>
<style>
body {
    background-color: #e6e9ff;
}
#main {
  margin: auto;
  width: 1000px;
  background-color: white;
  padding: 10px;
}
</style>
</head>
<body>
  <div id="main">
  <section>
    <center>
  <img src='https://image.ibb.co/by0tdz/Screen_Shot_2018_07_31_at_5_32_53_PM.png'>
    </center>
  </section>


<form method='post' action='/add-food'>
  <center>
    <input type="image"  id="saveform" src="https://image.ibb.co/mCSZke/Screen_Shot_2018_07_31_at_5_59_11_PM.png" alt="Submit Form" />
  </center>
</form>

<form method='post' action='/list-food'>
  <center>
  <input type="image"  id="saveform" src="https://image.ibb.co/j8Kx5e/Screen_Shot_2018_07_31_at_6_04_09_PM.png" alt="Submit Form" />
  </center>
</form>



<h6 class='title'>According to the Food and Agriculture Organization of the United Nations, ⅓ of the food produced in the world for human consumption —approximately 1.3 billion tons— is wasted. One key contributor to the excessive amount of food waste is the fact that most people buy more food that they end up consuming. Our problem space will focus on the food that is left in the refrigerator past its expiration date, eventually going to waste. The webapp will take food expiration dates as inputs, reminding the user of the food that they have when the expiration dates approach. Expiration dates of all food items will also be conveniently accessible to its users via a calendar format. FreshFridge has a goal of helping its users both minimize food waste and save money.</h6>

</div>
</body>
</html>
