<!DOCTYPE html>
<html>
<head>
<title>FreshFridge</title>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
</head>
<body>

<h1>Welcome to FreshFridge</h1>

<h2>
  Expired
</h2>
<table stype='width:100%'>
  <center>
  <tr>
    <th>
      Food Type
    </th>
    <th>
      Food Name
    </th>
    <th>
      Days Left
    </th>
  </tr>
  {{get_exp|safe}}
</table>
</center>
<h2>
  One Day Left
</h2>
<table stype='width:100%'>
  <tr>
    <th>
      Food Type
    </th>
    <th>
      Food Name
    </th>
    <th>
      Days Left
    </th>
  </tr>
  {{get_day|safe}}

</table>

<h2>
  One Week Left
</h2>
<table stype='width:100%'>
  <tr>
    <th>
      Food Type
    </th>
    <th>
      Food Name
    </th>
    <th>
      Days Left
    </th>
  </tr>
  {{get_week|safe}}

</table>


<h2>
  One Month Left
</h2>
<table stype='width:100%'>
  <tr>
    <th>
      Food Type
    </th>
    <th>
      Food Name
    </th>
    <th>
      Days Left
    </th>
  </tr>
  {{get_month|safe}}

</table>


<table style="width:100%">
  <tr>
    <th>Food Type</th>
    <th>Food Name</th>
    <th>Date Bought</th>
    <th>Expiration Date</th>
    <th>Is Expired?</th>
    <th>Remove</th>
  </tr>
  {{get_list|safe}}
</table>
<style>
.red{
  color: red;
}

.green{
  color: green;
}
</style>

<form method='post' action='/add-food'>
  <input type='submit' value='Add another item'>
</form>

</body>
</html>
