<!DOCTYPE html>
<html>
<head>
<title>Hello</title>
</head>

<body>

  <section>
    <center>
  <img src='https://image.ibb.co/cC1K5e/Screen_Shot_2018_08_02_at_10_02_47_AM.png'>
    </center>
  </section>

<center>
    <form method='post' name='sign-up' action='/make-user' >
      Name: <br />
      <input type='text' name='name' />
      <br />
      <input type='submit' value='Sign Up!' onClick='return validateForm()' />
    </form>
</center>

  <script>
  function validateForm() {
            if (document.forms['sign-up']['name'].value === "") {
              alert(" Name can not be empty.")
              return false;
            }
            return true;
            }
  </script>
</body>
</html>
